.Greetings
{
    color: white;
    justify-content: center;
}

input[type="text"]{
    height: 50px;
    width: 600px;
    background:#121212;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px;
    margin-top: 2px;
}
.display
{ 
    padding-top: 2.5%;
  margin-left: auto;
  margin-right: auto;
}

.name{
    color: gainsboro;
    align-items: center;
    font-size: 25px;
}
.desc{
    color: gainsboro;
    align-items: center;
    font-size: 25px;
}

.temp{
    color: gainsboro;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.humid{
    color: gainsboro;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.weather-icon{
    padding-top: 5%;
}
img{
    background-color: white;
    border-radius: 25%;
}

@media screen and (max-width:400px){
    img{
        height:80px;
        width: 80px;
    }
}
