.Greetings
{
    color: white;
    justify-content: center;
}

input[type="text"]{
    height: 50px;
    width: 600px;
    background:#121212;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 1px;
    margin-top: 2px;
}
.display
{ 
    padding-top: 1%;
    align-items: center;
    text-align:center;
    justify-content: center;
    padding-left: 40%;
}

.name{
    color: gainsboro;
    align-items: center;
    font-size: 25px;
}
.desc{
    color: gainsboro;
    align-items: center;
    font-size: 25px;
}

.temp{
    color: gainsboro;
    align-items: center;
    text-align: center;
    font-size: 25px;
}
@media screen and (max-width: 460px) {
    .display
    {
        padding-left: 7%;
    }
}

@media screen and (max-width: 650px) and (min-width: 461px) {
    .display
    {
        padding-left: 25%;
    }
}
